= form_for [:admin, @gallery], html: { multipart: true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Choose Cover Photo
    = f.file_field :cover_photo
  .input
    %label Name
    = f.text_field :name
  .submit
    = f.submit

