= form_for [:admin, @photo], html: { multipart: true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Choose Photo
    = f.file_field :image
  .input
    %label Title
    = f.text_field :title, class: 'inputIcon'
    %label.icon.inputIcon.bubble
  .input
    %label Tags
    #tagsInput
  .input.checkbox
    = f.check_box :featured_flag
    %label Featured
  / .divider
  / .input
  /   %label Make tags a gallery
  /   #galleryInput
  .submit
    = save_button
    = link_to_cancel admin_photos_path