= form_for [:admin, @photo], html: { multipart: true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Choose Photo
    = f.file_field :image
  .input
    %label Title
    = f.text_field :title, class: 'inputIcon'
    %label.icon.inputIcon.bubble
  .input
    %label Tags
    #tagsInput
  .input.checkbox
    = f.check_box :featured_flag
    %label Featured
  .submit
    = f.submit submit_text('Photo'), class: 'button'
    = link_to 'Cancel', admin_photos_path, class: 'button red'