= form_for [:admin, @photo], html: { multipart: true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Choose Photo
    = f.file_field :image
  .input
    %label Title
    = f.text_field :title
  .input
    %label Featured
    = f.check_box :featured_flag
  .input
    %label Tags
    / = f.text_field :tags, class: 'tagInput'
    = text_field_tag :tags, '', class: 'tagInput'
  .submit
    = f.submit