- content_for :angular_app do
  photosIndex

- content_for :angular_controller do
  PhotoListCtrl

#photoUpload.modal.hide.fade

#newGallery.modal.hide.fade
  .modal-header
    %h2
      %span.icon24.plus
      Add a gallery
  = form_tag admin_tags_path(gallery: true), html: { multipart: true } do |f|
    .modal-body
      .input.large
        %label.large Create galleries from existing tags or create a new one
        #galleryInput
        %span.hint You will be able to edit photos on the gallery edit page
      .modal-footer
        = save_button
        = cancel_button 'data-dismiss' => 'modal'

= render 'layouts/flash', flash: flash
.tabbedContainer
  .tabHeader
    .actions.absolute{ 'ng-show' => 'tabIsSelected("photos")' }
      = link_to '#photoUpload', class: 'button right', 'data-toggle' => 'modal' do
        %span.icon16.plus
        Add new photos
    %h1.sectionTitle{ 'ng-show' => 'tabIsSelected("photos")' }
      %span.glyph.images
      Photos
    .actions.absolute{ 'ng-show' => 'tabIsSelected("galleries")' }
      = link_to '#newGallery', class: 'button right', 'data-toggle' => 'modal' do
        %span.icon16.plus
        Add a gallery
    %h1.sectionTitle{ 'ng-show' => 'tabIsSelected("galleries")' }
      %span.glyph.images
      Galleries
    .tabs
      = link_to '', class: 'tab', 'ng-click' => 'switchTab("photos")', 'ng-class' => '{ selected: tabIsSelected("photos") }' do
        Photos
        %span.arrowUp.border
        %span.arrowUp
      = link_to '', class: 'tab', 'ng-click' => 'switchTab("galleries")', 'ng-class' => '{ selected: tabIsSelected("galleries") }' do
        %span Galleries
        %span.arrowUp.border
        %span.arrowUp

%section.photos{ masonry: true, 'ng-show' => 'currentTab == "photos"' }
  %h3{ 'ng-hide' => 'photos.length > 0' }
    There are currently no photos.
    = link_to '#photoUpload', 'data-toggle' => 'modal', style: 'margin-left: 40px;' do
      %span.icon24.plus{ style: 'font-size: 16px;' }
      Add some photos
  %spin{ 'spin-on' => 'fetchingPhotos', dim: '.photo' }
  %photos-list{ photos: 'photos', 'can-edit' => 'true' }
  .clear
%section.galleries{ 'ng-show' => 'currentTab == "galleries"' }
  - if @galleries.empty?
    %h1.center No galleries created yet. Go ahead and create one!

:javascript
  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var galleryTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @galleries }, formats: [:json])}
  );

  var tagInputView = new EpicImages.Views.TagInput({
    el: '#galleryInput',
    collection: tags
  });

  var addPhotosView = new EpicImages.Views.AddPhotos({
    el: '#photoUpload',
    tags: tags
  });

  var galleriesView = new EpicImages.Views.TagGalleries({
    el: '.galleries',
    collection: galleryTags,
    addPhotosView: addPhotosView
  });

  addPhotosView.render();
  tagInputView.render();
  galleriesView.render();

  $(document).ready(function() {
    EpicImages.AngularDataSeed({
      photos: #{render(partial: 'admin/photos/photos', locals: { photos: @photos }, formats: [:json])}
    })
  });