#photoUpload.modal.hide.fade

#newGallery.modal.hide.fade
  .modal-header
    %h2
      %span.icon24.plus
      Add a gallery
  = form_tag admin_tags_path(gallery: true), html: { multipart: true } do |f|
    .modal-body
      .input.large
        %label.large Create galleries from existing tags or create a new one
        #galleryInput
        %span.hint You will be able to edit photos on the gallery edit page
      .modal-footer
        = save_button
        = cancel_button 'data-dismiss' => 'modal'

.tabbedContainer
  .tabHeader
    .actions.absolute.photoTabs
      = link_to '#photoUpload', class: 'button right', 'data-toggle' => 'modal' do
        %span.icon16.plus
        Add new photos
    %h1.sectionTitle.photoTabs
      %span.glyph.images
      Photos
    .actions.absolute.galleryTabs.hide
      = link_to '#newGallery', class: 'button right', 'data-toggle' => 'modal' do
        %span.icon16.plus
        Add a gallery
    %h1.sectionTitle.galleryTabs.hide
      %span.glyph.images
      Galleries
    .tabs
      = link_to '#', class: 'tab selected', id: 'photosView' do
        Photos
        %span.arrowUp.border
        %span.arrowUp
      = link_to '#', class: 'tab', id: 'galleriesView' do
        %span Galleries
        %span.arrowUp.border
        %span.arrowUp
%section.photos
  = render @photos
  .clear
%section.galleries.hide
  - if @galleries.empty?
    %h1.center No galleries created yet. Go ahead and create one!

:javascript
  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var galleryTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @galleries }, formats: [:json])}
  );

  var galleriesView = new EpicImages.Views.TagGalleries({
    el: '.galleries',
    collection: galleryTags
  });

  var tagInputView = new EpicImages.Views.TagInput({
    el: '#tagsInput',
    collection: tags
  });

  var tagSelectionView = new EpicImages.Views.TagInput({
    el: '#galleryInput',
    collection: tags,
    tagData: galleryTags
  });

  var addPhotosView = new EpicImages.Views.AddPhotos({
    el: '#photoUpload'
  });

  addPhotosView.render();
  tagInputView.render();
  tagSelectionView.render();
  galleriesView.render();

  $(document).ready(function() {
    $('#photosView').click(function(e) {
      e.preventDefault();
      $('.tab').removeClass('selected');
      $(this).addClass('selected');
      $('.photos, .photoTabs').show()
      $('.galleries, .galleryTabs').hide()
    });
    $('#galleriesView').click(function(e) {
      e.preventDefault();
      $('.tab').removeClass('selected');
      $(this).addClass('selected');
      $('.photos, .photoTabs').hide();
      $('.galleries, .galleryTabs').show();
    });
  });