%header
  %nav.menu
    = link_to admin_root_path, class: 'clearfix' do
      .adminLogo.left
    .right
      .relative.right
        = link_to '#', class: 'profile dropdown-toggle', 'data-toggle' => 'dropdown' do
          = current_user
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to edit_admin_users_path do
              %span.icon16.man
              Edit profile
          %li.divider
          %li
            = link_to logout_path do
              %span.glyph.exit
              Logout
      %ul
        %li= link_to 'HOME', admin_root_path, class: current_page_class(admin_root_path)
        %li= link_to 'PHOTOS', admin_photos_path, class: current_page_class(admin_photos_path)
        %li= link_to 'BLOGS', admin_blogs_path, class: current_page_class(admin_blogs_path)