%section
  #photoCarousel.carousel.slide
    - unless @photos.empty?
      .carousel-inner
        - @photos.each_with_index do |photo, index|
          .item{ class: index.eql?(0) ? 'active' : '' }
            = image_tag photo.image.url(:cropped), alt: photo.title

      = link_to '&lsaquo;'.html_safe, '#photoCarousel', class: 'carousel-control left', 'data-slide' => 'prev'
      = link_to '&rsaquo;'.html_safe, '#photoCarousel', class: 'carousel-control right', 'data-slide' => 'next'

  .grid.clearfix
    = link_to gallery_path, class: 'item' do
      = image_tag 'galleries.jpg'
      .itemTitle Gallery
    = link_to '#', class: 'item' do
      = image_tag 'testimonials.jpg'
      .itemTitle Specials
    = link_to '#', class: 'item' do
      = image_tag 'services.jpg'
      .itemTitle Benefits
    = link_to about_us_path, class: 'item' do
      = image_tag 'about.jpg'
      .itemTitle About Us

/ %section.attention
/   SCHEDULE YOUR SHOOT TODAY

%section
  %h2.sectionTitle Featured Special
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis pellentesque auctor. Etiam elit ipsum,
  semper non scelerisque ac, imperdiet ut justo. Nunc molestie, mauris sed tristique aliquam, enim nisl sollicitudin
  libero, quis elementum arcu tellus non mi. Morbi interdum interdum risus id lacinia. Pellentesque vel lectus metus.
  Sed mi odio, tincidunt eu mollis nec, pulvinar eu nulla. Ut gravida ipsum vel dui elementum bibendum. Aliquam erat
  volutpat. Nam malesuada, elit sed molestie venenatis, dui arcu mattis odio, non pharetra sem lectus sit amet arcu.
  Phasellus eget congue augue. Ut est augue, venenatis eget scelerisque quis, gravida vel odio. Curabitur euismod dui
  eget leo vestibulum feugiat. Integer tempus, urna vel ornare tristique, lorem velit euismod leo, vel posuere ligula
  ante in risus. Cras euismod est ac nulla molestie et venenatis nibh dapibus. Pellentesque congue varius mauris, a
  pulvinar neque facilisis in.
  Donec ac leo urna.

- if @blog
  %section.blogs
    %h2.sectionTitle= link_to 'BLOG &rarr;'.html_safe, blogs_path
    %h3= link_to @blog.title, blog_path(@blog)
    %p
      = truncate(@blog.body, length: 385)
      - if @blog.body.length > 385
        %strong= link_to 'Continue Reading &Rarr;'.html_safe, blog_path(@blog)

    %h3.readMore= link_to 'Read More &rarr;'.html_safe, blogs_path
