- content_for :angular_app do
  galleryShow

- content_for :angular_controller do
  GalleryShowCtrl

#photoUpload.modal.hide.fade

= link_to '&larr; Back to photos'.html_safe, admin_photos_path, class: 'button left'
= link_to '#photoUpload', class: 'button left', 'data-toggle' => 'modal' do
  %span.icon16.plus
  Add photos
= link_to '#', class: 'button red left' do
  %span.icon16.cross
  Remove Gallery
%h1.right= @gallery.name.titleize
.clear

%section.photos{ masonry: true }
  %spin{ 'spin-on' => 'fetchingPhotos', dim: '.photo' }
  %photos-list{ photos: 'photos' }
  .clear

:javascript
  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var gallery = new EpicImages.Models.Tag(
    #{render(partial: 'tags/tag', locals: { tag: @gallery }, formats: [:json])}
  )

  var addPhotosView = new EpicImages.Views.AddPhotos({
    el: '#photoUpload',
    tags: tags
  });

  addPhotosView.render();
  addPhotosView.applyDefaultTag(gallery);

  $(document).ready(function() {
    EpicImages.AngularDataSeed({
      addPhotosView: addPhotosView,
      gallery: #{render partial: 'tags/tag', locals: { tag: @gallery }, formats: [:json] },
      photos: #{render partial: 'admin/photos/photos', locals: { photos: @gallery.photos }, formats: [:json] }
    });
  })