/ = link_to '#editGallery', class: 'button', 'data-toggle' => 'modal' do
/   %span.icon16.edit
/   Edit Gallery

/ #editGallery.modal.hide.fade
/   .modal-header
/     %h2
/       %span.icon24.plus
/       Add new photos
/   = form_for [:admin, @gallery] do |f|
/     .modal-body.extend
/       .input
/         %label Tags
/         #tagsInput
/       .input.checkbox
/         = f.check_box :featured_flag
/         %label Featured
/       .divider
/       .input
/         %label Make tags a gallery
/         #galleryInput
/     .modal-footer
/       = save_button
/       = cancel_button 'data-dismiss' => 'modal'

= link_to '&larr; Back to galleries'.html_safe, admin_tags_path, class: 'button left'
= link_to '#', class: 'button left' do
  %span.icon16.plus
  Add photos
= link_to '#', class: 'button red left' do
  %span.icon16.cross
  Remove Gallery
%h1.right= @gallery.name.titleize
.clear

%section.photos
  = render @gallery.photos
  .clear

/ :javascript
/   var tags = new EpicImages.Collections.Tags(
/     #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
/   );

/   var galleryTags = new EpicImages.Collections.Tags(
/     #{render(partial: 'tags/tags', locals: { tags: @galleries }, formats: [:json])}
/   );

/   var tagInputView = new EpicImages.Views.TagInput({
/     el: '#tagsInput',
/     collection: tags
/   });

/   var tagSelectionView = new EpicImages.Views.TagSelection({
/     el: '#galleryInput',
/     collection: tags,
/     tagData: galleryTags,
/     fieldName: 'gallery_tags'
/   });

/   tagInputView.render()
/   tagSelectionView.render();