= form_tag search_tags_path, method: :get do
  .searchContainer.clearfix
    #searchInput.left
    = submit_tag 'Search', class: 'searchSubmit left'
%section
  - @photos.each do |photo|
    = image_tag photo.image.url(:thumb)


:javascript

  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var searchTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @searched_tags }, formats: [:json])}
  );

  var tagSelectionView = new EpicImages.Views.TagSelection({
    el: '#searchInput',
    collection: tags,
    tagData: searchTags,
    type: 'select'
  });

  tagSelectionView.render();