= link_to '&larr; Back to Gallery'.html_safe, tags_path, class: 'button left'
= form_tag photos_search_path, method: :get do
  .searchContainer.right
    #searchInput.left
    = submit_tag 'Search', class: 'searchSubmit left'
.clear

%section.photos
  - @photos.each do |photo|
    .photo{ style: "height: #{photo.image.height(:thumb)}px" }= image_tag photo.image.url(:thumb)
  - if @photos.empty?
    %h1.center There are no photos for your search
  .clear


:javascript

  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var searchTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @searched_tags }, formats: [:json])}
  );

  var tagSelectionView = new EpicImages.Views.TagSelection({
    el: '#searchInput',
    collection: tags,
    tagData: searchTags
  });

  tagSelectionView.render();