- content_for :angular_app do
  gallery

- content_for :angular_controller do
  GalleryCtrl

= link_to '&larr; Back to Gallery'.html_safe, tags_path, class: 'button left'
= form_tag photos_search_path, method: :get do
  .searchContainer.right
    #searchInput.left
    = search_button
.clear

%section.photos{ masonry: true }
  %photos-list{ photos: 'photos' }
  - if @photos.empty?
    %h1.center There are no photos for your search
  .clear


:javascript

  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var searchTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @searched_tags }, formats: [:json])}
  );

  var tagSelectionView = new EpicImages.Views.TagSelection({
    el: '#searchInput',
    collection: tags,
    tagData: searchTags,
    placeholder: 'Search for photos',
    fieldName: 'search'
  });

  tagSelectionView.render();

  $(document).ready(function() {
    EpicImages.AngularDataSeed({
      photos: #{render partial: 'photos/photos', locals: { photos: @photos }, formats: [:json] }
    })
  });