= form_tag search_path, method: :get do
  #searchInput.left
  = submit_tag 'Search', class: 'searchSubmit'
%section.galleries

:javascript
  var galleries = new EpicImages.Collections.Galleries(
    #{render(partial: 'galleries', locals: { galleries: @galleries }, formats: [:json])}
  );

  var galleriesView = new EpicImages.Views.Galleries({
      el: '.galleries',
      collection: galleries
  });

  galleriesView.render();

  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var searchTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @searched_tags }, formats: [:json])}
  );

  var tagSelectionView = new EpicImages.Views.TagSelection({
    el: '#searchInput',
    collection: tags,
    tagData: searchTags,
    type: 'select'
  });

  tagSelectionView.render();