= form_for [:admin, @blog] do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Title
    = f.text_field :title
  .input
    %label Description
    = f.text_area :body
  .submit
    = f.submit submit_text('Blog'), class: 'button'
    = link_to 'Cancel', admin_blogs_path, class: 'button red'