= form_for [:admin, @blog] do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Title
    = f.text_field :title
  .input
    %label Description
    = f.text_area :body
  .submit
    = save_button
    = link_to_cancel admin_blogs_path